@import "tailwindcss";

:root {
  --accent-color: rgb(252, 173, 3);
  --accent-hover-color: rgb(255, 185, 33);
  --primary-color: rgb(91, 11, 115);
  --primary-color-hover: rgb(151, 29, 181);
  --neutral-color: rgb(253, 245, 255);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(61, 12, 65);
}

.nav-text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom: none;
  transition: border-bottom 150ms ease-in-out;
}

.nav-text:hover {
  border-bottom: 1px solid var(--primary-color);
}

.nav-bold {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.primary-background {
  background-color: var(--primary-color);
}

.accent-background {
  background-color: var(--accent-color);
}

.neutral-background {
  background-color: var(--neutral-color);
}

.neutral-color {
  color: var(--neutral-color);
}

.primary-color {
  color: var(--primary-color);
}

.accent-color {
  color: var(--accent-color);
}

.nav-btn {
  background-color: var(--primary-color);
  border-radius: 16px;
  transition: background-color 150ms ease-in-out;
}

.nav-btn:hover {
  background-color: var(--primary-color-hover);
}

.nav-stroke-btn {
  background-color: var(--neutral-color);
  border: 2px solid var(--primary-color);
  border-radius: 16px;
}

.nav-stroke-btn:hover {
  background-color: var(--white-color);
}

.white-color {
  color: var(--white-color);
}

h1 {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 1.25;
  color: var(--primary-color);
  font-weight: 700;
}

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--black-color);
  margin: 16px 0px;
}

.bold {
  font-weight: 700;
}

.hero-cta-btn {
  background-color: var(--accent-color);
  border-radius: 16px;
  transition: background-color 150ms ease-in-out;
  height: fit-content;
}

.hero-cta-btn:hover {
  background-color: var(--accent-hover-color);
}

h3 {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 700;
}

h5 {
  font-family: "Sora", Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}

li {
  margin: 16px 0px;
}

.lp-btn {
  background-color: var(--accent-color);
  border-radius: 16px;
  transition: background-color 150ms ease-in-out;
  height: fit-content;
}

.lp-btn:hover {
  background-color: var(--accent-hover-color);
}